

$barra-lateral: #353535;
$fundo-da-logo: #282828;

$texto-messages: #7a7a7a;
$nav-link: #b7b7b7;
$hover-background: #969595;
$hover-texto: #fff;

$borda-settings: #fc4236;
$borda-analytics: #ddbe10;
$borda-messages: #09aac7;
$borda-dashboard: #07c638;




